#wrapper {
  padding: 0 2%;
}

.small {
  font-size: 14px;
}

.normal {
  font-size: 16px;
}

.large {
  font-size: 18px;
}

.xlarge {
  font-size: 24px;
}

.emphasis {
  color: #c9302c;
}
.emphasis:hover {
  color: #9f2623;
}

#wrapper nav {
  margin-bottom: 0;
  padding: 10px 0;
  border: none;
}
#wrapper nav > ul {
  margin-right: 0;
}
#wrapper nav > ul a {
  color: #FFF;
  border-radius: 0px;
  margin-left: -5px;
  font-size: 14px;
  margin-top: 15px;
}
#wrapper .page-title span {
  display: block;
  color: #58585A;
}
#wrapper .page-title span:first-of-type {
  padding-bottom: 5px;
}

#homeTitle {
  text-align: center;
}

#page-wrapper .page-header {
  display: inline-block;
  border: none;
  padding-bottom: 0;
}

.deputyDetailsLink img {
  float: left;
  margin-right: 5px;
}

/* Large desktop, full HD */
/* Landscape tablet to desktop */
/* Landscape tablet*/
/* Phone and maybe some other smaller devices*/
